.banner{
    background: var(--cor-azul-gradiente);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner_texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner_pesquisa{
    background: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;  
    width: 280px;
    height: 27px;
}

.banner_pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-branco);
    background: url("../assets/pesquisa.svg") no-repeat; 
    background-position: 2.5em;
}