.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    font-family: var(--fonte-principal);     
}

.cabecalho_menu_hamburguer{
    width: 1.55rem;
    height: 1.55rem;
    background-image: url("../assets/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
}

.container{
    display: flex;
    align-items: center;
}

.container_image{
    padding: 1em;
}

.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--cor-branco);
}

.container_button:checked~.lista_menu{
    display: block;
    width: auto;
    z-index: 5;   
}

.container_button{
    display:none;
}

.lista_menu_titulo,
.lista_menu_item{
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista_menu_titulo{
    color:var(--cor-laranja);
    font-weight: 700;
}

.lista_menu_item{
background: var(--cor-azul-gradiente);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: uppercase;
}

.container_titulo{
    display: none;  
}

.opcoes,
.container_texto{
    display: none;
}

@media screen and (min-width: 1024px){

    .container_titulo,
    .container_titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;   
    }

    .container_titulo{
    font-weight: 400;
    display: block;
    }

    .container_titulo-negrito{
    font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes_item{
        padding: 0 1em;
        text-transform: uppercase;   
    }

    .opcoes_link{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container_image_transparente{
        display: none;
    }

    .cabecalho_menu_hamburguer{
        display: none;
    }

    .opcoes_button:checked~.lista_menu{
        display: block;
        width: auto;
        z-index: 3;
    }

    .opcoes_button{
        display: none;
    }

}

@media screen and (min-width: 1728px){
    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);   
    }

    .container_texto{
        font-family: var(--fonte-primaria);
        font-size: 20px;
        font-weight: 400;
        display: block;

    }

}

