hr{
    margin: 0;
}

.rodape{
    background-color: var(--cor-branco);
    padding: 1em;

}

.rodape_titulo{
    color: var(--cor-preto);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.rodape_lista{
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape_lista{
        display: block;
    }

    .rodape_lista_titulo{
        color: var(--cor-cinza-claro);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .rodape_lista_item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .rodape_lista_link{
        text-decoration: none;
        color: var(--cor-cinza);
        margin-left: 0.6em;  
    }

    .rodape_titulo{
        font-size: 24px;
    }
}

@media screen and (min-width:1024px) {
    .rodape_lista{
        border-left: 1px solid var(--cor-cinza);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}